{% extends 'base.html.twig' %}

{% block title %}Success Project • Cartagena{% endblock %}

{% block body %}
    <!-- Hero Section -->
    <section style="background-image: url('./assets/images/Background.jpg')" class="w-full h-screen bg-cover bg-no-repeat bg-center flex flex-col lg:flex-row justify-center items-center gap-6 p-8 lg:p-0 lg:px-8">
        <div class="bg-success-orange/50 backdrop-blur p-8 rounded-xl text-white text-center max-w-md">
            <h2 class="text-3xl mb-4 font-bold">Become the best with project SUCCESS</h2>
            <!-- <h2 class="text-4xl mb-4 font-bold">SUCCESS Project</h2> -->
            <!-- <p class="text-lg mb-8">Become the best with project SUCCESS</p> -->
            <a href="#about" class="bg-success-white/50 rounded-lg p-4 hover:bg-white font-bold text-white hover:text-success-orange  duration-300">About us?</a>
        </div>
        <h2 class="text-6xl lg:text-8xl font-bold text-white opacity-75">Project SUCCESS</h2>
    </section>

    <!-- About us Section -->
    <section class="relative mb-16 lg:mb-[200px]" id="about">
        <h2 class="font-bold text-8xl lg:text-10xl text-gray-100">About</h2>
        <h3 class="text-success-orange -mt-8 mb-8 w-9/12 mx-auto">About us</h3>

        <div class="rounded-full w-[220px] h-[220px] bg-success-orange absolute top-16 -left-[140px] -z-10"></div>

        <div class="w-11/12 lg:w-9/12 mx-auto flex flex-col gap-16">

            <div class="flex flex-col gap-6 lg:flex-row lg:justify-between">
                <h4 class="font-bold text-4xl text-center lg:text-left lg:w-3/12">What is project SUCCESS ?</h4>
                <div class="lg:text-right lg:w-2/3">
                    <p class="font-bold text-lg mb-4">SUCCESS (Solutions for Unified Communication Competences for Engineering Students and Specialists) is carried out in cooperation with four higher education institutions and a company specialized in providing specialized training in the industry. Our goal is to encourage the use of creative learning and teaching methods by providing student-centered curricula.</p>
                    <p>The SUCCESS project provides the opportunity to develop and implement new, innovative ideas in already existing study practices.</p>
                </div>
            </div>

            <div class="flex flex-col-reverse gap-4 lg:gap-0 lg:flex-row lg:justify-between items-center">
                <div class="lg:w-1/2">
                    <p class="font-bold text-lg mb-4">English, Softskills & Communication</p>
                    <p>Our goal is to help students and specialists develop a skill set that will enhance their confidence and abilities to deliver the knowledge they have in an engaging and interactive way.</p>
                </div>
                <h4 class="font-bold text-4xl lg:w-3/12 lg:text-right">Why is this project relevant ?</h4>
            </div>

            <div class="flex flex-col gap-4 lg:gap-0 lg:flex-row justify-between items-center">
                <h4 class="font-bold text-4xl">Who will participate ?</h4>
                <div class="lg:w-1/2">
                    <p class="font-bold text-lg mb-4 lg:text-right">Universities, partners...</p>
                    <p class="lg:text-right">SUCCESS collaborates with 5 partners:
                        Universidad politécnica de Cartagena, Technische universität Dresden, De Vinci Group, Riga Technical University & The Pyramid Group.</p>
                </div>
            </div>

            <div class="hidden lg:flex flex-col justify-center gap-6 ">
                <div class="flex gap-10 justify-center relative">
                    <div class="rounded-full w-[220px] h-[220px] bg-success-orange absolute -top-16 left-[140px] -z-10 flex-wrap"></div>
                    <img class="rounded-full w-52" src="./assets/images/cartagena2.png" alt="Cartagena">
                    <img class="rounded-full w-52" src="./assets/images/dresden2.png" alt="Dresden">
                    <img class="rounded-full w-52" src="./assets/images/riga2.png" alt="Riga">
                    <img class="rounded-full w-52" src="./assets/images/paris2.png" alt="Paris">
                    <img class="rounded-full w-52" src="./assets/images/ulm.jpeg" alt="Ulm">
                    <div class="rounded-full w-[220px] h-[220px] bg-success-orange absolute -bottom-16 right-[140px] -z-10 flex-wrap"></div>
                </div>
                <p class="w-1/2 mx-auto text-center">Various events will be held at the different partner universities, where students will be able to visit the city in their free time as well as enjoy cultural tours offered by SUCCESS.</p>
            </div>

        </div>
    </section>

    <!-- Events Section -->
    <section class="bg-success-black text-white pb-16 lg:pb-[200px]" id="events">
        <h2 class="text-black/25 font-bold text-8xl lg:text-10xl ml-auto justify-self-end">Events</h2>
        <h3 class="text-success-orange -mt-8 mb-8 w-9/12 mx-auto">Events</h3>
        <div class="w-9/12 mx-auto flex flex-col gap-16">

            <div class="flex flex-col lg:flex-row lg:gap-16 lg:items-center">
                <img src="./assets/images/cartagena.JPG" alt="" class="rounded-xl mx-auto w-96 lg:w-7/12">
                <div>
                    <div class="flex lg:flex-col lg:justify-start lg:items-start justify-between items-center">
                        <h3 class="text-4xl font-bold">Cartagena</h3>
                        <p class="text-success-orange">April 2022</p>
                    </div>
                    <p class="text-xl font-bold">Activity:</p>
                    <p>Digital Communication in the 21st Century<br><br>The main goal of this 5-day program is to help participants master their digital communication and presentation skills and improve their digital etiquette.</p>
                </div>
            </div>

            <div class="flex flex-col gap-12 lg:gap-x-6 lg:flex-row justify-between">

                <div class="lg:w-5/12">
                    <img src="./assets/images/Dresden.jpeg" alt="" class="rounded-xl mx-auto w-full h-56 object-cover">
                    <div class="flex justify-between items-center">
                        <h4 class="text-3xl font-bold lg:my-1">Dresden</h4>
                        <p class="text-success-orange">February 2023</p>
                    </div>
                    <p class="font-bold text-xl">Activity:</p>
                    <p>English for Specific Purposes Career Panel<br><br>This event aims to enable participants to become familiar with the specialist language that is used in the field and to learn the skills required by the industries and labor market.</p>
                </div>

                <div class="lg:w-5/12">
                    <img src="./assets/images/riga3.png" alt="" class="rounded-xl mx-auto w-full h-56 object-cover">
                    <div class="flex justify-between items-center">
                        <h4 class="text-3xl font-bold lg:my-1">Riga</h4>
                        <p class="text-success-orange">November 2023</p>
                    </div>
                    <p class="font-bold text-xl">Activity:</p>
                    <p>Communication Lab<br><br>The aim of the event is to create a platform for engineering students to put established skills to the test and develop their soft skills</p>
                </div>

                <div class="lg:w-5/12">
                    <img src="./assets/images/paris3.png" alt="" class="rounded-xl mx-auto w-full h-56 object-cover">
                    <div class="flex justify-between items-center">
                        <h4 class="text-3xl font-bold lg:my-1">Paris</h4>
                        <p class="text-success-orange">February 2024</p>
                    </div>
                    <p class="font-bold text-xl">Activity:</p>
                    <p>Communication Deployment Hackathon<br><br>An international forum aimed to participate and demonstrate participant's abilities to solve various problems while interacting on this international communication platform.</p>
                </div>

            </div>
        </div>
    </section>

    <!-- Universities Section -->
    <section class="mb-16 lg:mb-[200px]" id="universities">
        <h2 class="text-gray-100 font-bold text-6xl lg:text-10xl">Partners</h2>
        <h3 class="text-success-orange -mt-6 mb-8 text-center">Project Participants</h3>
        <h4 class="text-2xl font-bold text-center">Discover the participating partners</h4>
        <div class="w-9/12 mx-auto flex flex-wrap lg:mt-16 gap-14 justify-center items-end">
            {% for partner in partners %}
                <a class="w-[190px] flex justify-center items-center rounded-xl hover:opacity-75 duration-300 min-h-[150px]" href="{{ partner.url }}" target="_blank">
                    <img src="/assets/uploads/{{ partner.image }}" alt="{{ partner.name }} logo" class="w-full h-full my-auto object-cover rounded-sm bg-white">
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}
